/* reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, button { margin: 0; padding: 0; }

fieldset, img { border: 0 none; }

dl, ul, ol, menu, li { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

input, select, textarea, button { vertical-align: middle; }

input::-ms-clear { display: none; }

button { border: 0 none; background-color: transparent; cursor: pointer; }

body { direction: ltr; -webkit-text-size-adjust: none; }

body, button, input, select, table, textarea { font-size: 1em; }

a { text-decoration: none; }

a:hover { text-decoration: underline; }

a:active { background-color: transparent; }

address, caption, cite, code, dfn, em, var { font-style: normal; font-weight: normal; }

html { box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit; }

/* Colors */
.gt-light-blue { background-color: #89c6e1 !important; }

.gt-blue, .gt-primary { background-color: #2598e7 !important; }

.gt-deep-blue { background-color: #00519e !important; }

.gt-yellow, .gt-warning { background-color: #f9b200 !important; }

.gt-orange { background-color: #f7851c !important; }

.gt-deep-orange, .gt-danger { background-color: #e75113 !important; }

.gt-red { background-color: #f44336 !important; }

.gt-green, .gt-success { background-color: #94c11e !important; }

.gt-pink { background-color: #e91e63 !important; }

.gt-teal, .gt-info { background-color: #009688 !important; }

.gt-brown { background-color: #795548 !important; }

.gt-cyan { background-color: #00bcd4 !important; }

.gt-purple { background-color: #9c27b0 !important; }

.gt-lime { background-color: #cddc39 !important; }

.gt-khaki { background-color: #f0e68c !important; }

.gt-amber { background-color: #ffd740 !important; }

.gt-beige { background-color: #e6daa6 !important; }

.gt-gray-eee { background-color: #eee !important; }

.gt-gray-ddd { background-color: #ddd !important; }

.gt-gray-ccc { background-color: #ccc !important; }

.gt-gray-999 { background-color: #999 !important; }

.gt-gray-666 { background-color: #666 !important; }

.gt-gray-333 { background-color: #333 !important; }

.gt-blue-gray { background-color: #455a64 !important; }

.gt-gray { background-color: #808080 !important; }

.gt-black, .gt-000 { background-color: #000 !important; }

.gt-white, .gt-fff { background-color: #fff !important; }

.gt-text-light-blue { color: #89c6e1 !important; }

.gt-text-blue, .gt-text-primary { color: #2598e7 !important; }

.gt-text-deep-blue { color: #00519e !important; }

.gt-text-yellow, .gt-text-warning { color: #f9b200 !important; }

.gt-text-orange, .gt-text-danger { color: #f7851c !important; }

.gt-text-deep-orange { color: #e75113 !important; }

.gt-text-red { color: #f44336 !important; }

.gt-text-green, .gt-text-success { color: #94c11e !important; }

.gt-text-pink { color: #e91e63 !important; }

.gt-text-teal, .gt-text-info { color: #009688 !important; }

.gt-text-brown { color: #795548 !important; }

.gt-text-cyan { color: #00bcd4 !important; }

.gt-text-purple { color: #9c27b0 !important; }

.gt-text-lime { color: #cddc39 !important; }

.gt-text-khaki { color: #f0e68c !important; }

.gt-text-amber { color: #ffd740 !important; }

.gt-text-beige { color: #e6daa6 !important; }

.gt-text-gray-eee { color: #eee !important; }

.gt-text-gray-ddd { color: #ddd !important; }

.gt-text-gray-ccc { color: #ccc !important; }

.gt-text-gray-999 { color: #999 !important; }

.gt-text-gray-666 { color: #666 !important; }

.gt-text-gray-333 { color: #333 !important; }

.gt-text-gray { color: #808080 !important; }

.gt-text-blue-gray { color: #455a64 !important; }

.gt-text-black, .gt-text-000 { color: #000 !important; }

.gt-text-white, .gt-text-fff { color: #fff !important; }

.gt-border-light-blue { border-color: #89c6e1 !important; }

.gt-border-blue, .gt-border-primary { border-color: #2598e7 !important; }

.gt-border-deep-blue { border-color: #00519e !important; }

.gt-border-yellow, .gt-border-warning { border-color: #f9b200 !important; }

.gt-border-orange, .gt-border-danger { border-color: #f7851c !important; }

.gt-border-deep-orange { border-color: #e75113 !important; }

.gt-border-red { border-color: #f44336 !important; }

.gt-border-green, .gt-border-success { border-color: #94c11e !important; }

.gt-border-pink { border-color: #e91e63 !important; }

.gt-border-teal, .gt-border-info { border-color: #009688 !important; }

.gt-border-brown { border-color: #795548 !important; }

.gt-border-cyan { border-color: #00bcd4 !important; }

.gt-border-purple { border-color: #9c27b0 !important; }

.gt-border-lime { border-color: #cddc39 !important; }

.gt-border-khaki { border-color: #f0e68c !important; }

.gt-border-amber { border-color: #ffd740 !important; }

.gt-border-beige { border-color: #e6daa6 !important; }

.gt-border-gray-eee { border-color: #eee !important; }

.gt-border-gray-ddd { border-color: #ddd !important; }

.gt-border-gray-ccc { border-color: #ccc !important; }

.gt-border-gray-999 { border-color: #999 !important; }

.gt-border-gray-666 { border-color: #666 !important; }

.gt-border-gray-333 { border-color: #333 !important; }

.gt-border-gray { border-color: #808080 !important; }

.gt-border-blue-gray { border-color: #455a64 !important; }

.gt-border-black, .gt-border-000 { border-color: #000 !important; }

.gt-border-white, .gt-border-fff { border-color: #fff !important; }

/* Button */
.gt-button, .gt-button-light { display: inline-block; text-align: center; white-space: nowrap; vertical-align: middle; user-select: none; border: 1px solid transparent; padding: 0.3em 0.8em; font-size: 1em; line-height: 1.5; color: #333; background-color: #eee; transition: background-color .15s ease-in-out; cursor: pointer; }

.gt-button:hover, .gt-button-light:hover { text-decoration: none; background-color: #dadada; }

.gt-button:hover.gt-button[disabled]:hover, .gt-button:hover.disabled:hover, .gt-button-light:hover.gt-button[disabled]:hover, .gt-button-light:hover.disabled:hover { background-color: #eee; }

.gt-button.gt-button[disabled], .gt-button-light.gt-button[disabled] { cursor: not-allowed; opacity: .5; }

.gt-button.gt-button-small, .gt-button-light.gt-button-small { padding: 0.385em 0.785em; font-size: 0.8em; }

.gt-button.gt-button-large, .gt-button-light.gt-button-large { padding: 0.4em 0.9em; font-size: 1.4em; }

.gt-button.gt-button-block, .gt-button-light.gt-button-block { width: 100%; display: block; }

.gt-button.gt-button-primary, .gt-button-light.gt-button-primary { color: #fff; background-color: #2598e7; }

.gt-button.gt-button-primary:hover, .gt-button-light.gt-button-primary:hover { background-color: #4aa9eb; }

.gt-button.gt-button-primary.gt-button[disabled]:hover, .gt-button.gt-button-primary.disabled:hover, .gt-button-light.gt-button-primary.gt-button[disabled]:hover, .gt-button-light.gt-button-primary.disabled:hover { background-color: #2598e7; }

.gt-button.gt-button-secondary, .gt-button-light.gt-button-secondary { color: #fff; background-color: #999; }

.gt-button.gt-button-secondary:hover, .gt-button-light.gt-button-secondary:hover { background-color: #adadad; }

.gt-button.gt-button-secondary.gt-button[disabled]:hover, .gt-button.gt-button-secondary.disabled:hover, .gt-button-light.gt-button-secondary.gt-button[disabled]:hover, .gt-button-light.gt-button-secondary.disabled:hover { background-color: #999; }

.gt-button.gt-button-success, .gt-button-light.gt-button-success { color: #fff; background-color: #94c11e; }

.gt-button.gt-button-success:hover, .gt-button-light.gt-button-success:hover { background-color: #acde2a; }

.gt-button.gt-button-success.gt-button[disabled]:hover, .gt-button.gt-button-success.disabled:hover, .gt-button-light.gt-button-success.gt-button[disabled]:hover, .gt-button-light.gt-button-success.disabled:hover { background-color: #94c11e; }

.gt-button.gt-button-danger, .gt-button-light.gt-button-danger { color: #fff; background-color: #e75113; }

.gt-button.gt-button-danger:hover, .gt-button-light.gt-button-danger:hover { background-color: #ee6b34; }

.gt-button.gt-button-danger.gt-button[disabled]:hover, .gt-button.gt-button-danger.disabled:hover, .gt-button-light.gt-button-danger.gt-button[disabled]:hover, .gt-button-light.gt-button-danger.disabled:hover { background-color: #e75113; }

.gt-button.gt-button-warning, .gt-button-light.gt-button-warning { color: #fff; background-color: #f9b200; }

.gt-button.gt-button-warning:hover, .gt-button-light.gt-button-warning:hover { background-color: #ffc023; }

.gt-button.gt-button-warning.gt-button[disabled]:hover, .gt-button.gt-button-warning.disabled:hover, .gt-button-light.gt-button-warning.gt-button[disabled]:hover, .gt-button-light.gt-button-warning.disabled:hover { background-color: #f9b200; }

.gt-button.gt-button-info, .gt-button-light.gt-button-info { color: #fff; background-color: #009688; }

.gt-button.gt-button-info:hover, .gt-button-light.gt-button-info:hover { background-color: #00bfad; }

.gt-button.gt-button-info.gt-button[disabled]:hover, .gt-button.gt-button-info.disabled:hover, .gt-button-light.gt-button-info.gt-button[disabled]:hover, .gt-button-light.gt-button-info.disabled:hover { background-color: #009688; }

.gt-button.gt-button-dark, .gt-button-light.gt-button-dark { color: #fff; background-color: #333; }

.gt-button.gt-button-dark:hover, .gt-button-light.gt-button-dark:hover { background-color: black; }

.gt-button.gt-button-dark.gt-button[disabled]:hover, .gt-button.gt-button-dark.disabled:hover, .gt-button-light.gt-button-dark.gt-button[disabled]:hover, .gt-button-light.gt-button-dark.disabled:hover { background-color: #333; }

.gt-button.gt-button-link, .gt-button-light.gt-button-link { color: #2598e7; background-color: transparent; }

.gt-button.gt-button-link:hover, .gt-button-light.gt-button-link:hover { text-decoration: underline; }

.gt-button.gt-button-link.gt-button[disabled]:hover, .gt-button.gt-button-link.disabled:hover, .gt-button-light.gt-button-link.gt-button[disabled]:hover, .gt-button-light.gt-button-link.disabled:hover { text-decoration: none; background-color: transparent; }

.gt-button.gt-button-outline, .gt-button.gt-button-outline-light, .gt-button-light.gt-button-outline, .gt-button-light.gt-button-outline-light { border-color: #ddd; }

.gt-button.gt-button-outline:hover, .gt-button.gt-button-outline-light:hover, .gt-button-light.gt-button-outline:hover, .gt-button-light.gt-button-outline-light:hover { background-color: #eee; }

.gt-button.gt-button-outline-primary, .gt-button-light.gt-button-outline-primary { color: #2598e7; border-color: #2598e7; }

.gt-button.gt-button-outline-primary:hover, .gt-button-light.gt-button-outline-primary:hover { color: #fff; background-color: #2598e7; }

.gt-button.gt-button-outline-primary:hover.gt-button[disabled], .gt-button.gt-button-outline-primary:hover.disabled, .gt-button-light.gt-button-outline-primary:hover.gt-button[disabled], .gt-button-light.gt-button-outline-primary:hover.disabled { color: #2598e7; }

.gt-button.gt-button-outline-secondary, .gt-button-light.gt-button-outline-secondary { color: #999; border-color: #999; }

.gt-button.gt-button-outline-secondary:hover, .gt-button-light.gt-button-outline-secondary:hover { color: #fff; background-color: #999; }

.gt-button.gt-button-outline-secondary:hover.gt-button[disabled], .gt-button.gt-button-outline-secondary:hover.disabled, .gt-button-light.gt-button-outline-secondary:hover.gt-button[disabled], .gt-button-light.gt-button-outline-secondary:hover.disabled { color: #999; }

.gt-button.gt-button-outline-success, .gt-button-light.gt-button-outline-success { color: #94c11e; border-color: #94c11e; }

.gt-button.gt-button-outline-success:hover, .gt-button-light.gt-button-outline-success:hover { color: #fff; background-color: #94c11e; }

.gt-button.gt-button-outline-success:hover.gt-button[disabled], .gt-button.gt-button-outline-success:hover.disabled, .gt-button-light.gt-button-outline-success:hover.gt-button[disabled], .gt-button-light.gt-button-outline-success:hover.disabled { color: #94c11e; }

.gt-button.gt-button-outline-danger, .gt-button-light.gt-button-outline-danger { color: #e75113; border-color: #e75113; }

.gt-button.gt-button-outline-danger:hover, .gt-button-light.gt-button-outline-danger:hover { color: #fff; background-color: #e75113; }

.gt-button.gt-button-outline-danger:hover.gt-button[disabled], .gt-button.gt-button-outline-danger:hover.disabled, .gt-button-light.gt-button-outline-danger:hover.gt-button[disabled], .gt-button-light.gt-button-outline-danger:hover.disabled { color: #e75113; }

.gt-button.gt-button-outline-warning, .gt-button-light.gt-button-outline-warning { color: #f9b200; border-color: #f9b200; }

.gt-button.gt-button-outline-warning:hover, .gt-button-light.gt-button-outline-warning:hover { color: #fff; background-color: #f9b200; }

.gt-button.gt-button-outline-warning:hover.gt-button[disabled], .gt-button.gt-button-outline-warning:hover.disabled, .gt-button-light.gt-button-outline-warning:hover.gt-button[disabled], .gt-button-light.gt-button-outline-warning:hover.disabled { color: #f9b200; }

.gt-button.gt-button-outline-info, .gt-button-light.gt-button-outline-info { color: #009688; border-color: #009688; }

.gt-button.gt-button-outline-info:hover, .gt-button-light.gt-button-outline-info:hover { color: #fff; background-color: #009688; }

.gt-button.gt-button-outline-info:hover.gt-button[disabled], .gt-button.gt-button-outline-info:hover.disabled, .gt-button-light.gt-button-outline-info:hover.gt-button[disabled], .gt-button-light.gt-button-outline-info:hover.disabled { color: #009688; }

.gt-button.gt-button-outline-dark, .gt-button-light.gt-button-outline-dark { color: #333; border-color: #333; }

.gt-button.gt-button-outline-dark:hover, .gt-button-light.gt-button-outline-dark:hover { color: #fff; background-color: #333; }

.gt-button.gt-button-outline-dark:hover.gt-button[disabled], .gt-button.gt-button-outline-dark:hover.disabled, .gt-button-light.gt-button-outline-dark:hover.gt-button[disabled], .gt-button-light.gt-button-outline-dark:hover.disabled { color: #333; }

.gt-button.gt-button-outline, .gt-button.gt-button-outline-primary, .gt-button.gt-button-outline-secondary, .gt-button.gt-button-outline-success, .gt-button.gt-button-outline-danger, .gt-button.gt-button-outline-warning, .gt-button.gt-button-outline-info, .gt-button.gt-button-outline-light, .gt-button.gt-button-outline-dark, .gt-button-light.gt-button-outline, .gt-button-light.gt-button-outline-primary, .gt-button-light.gt-button-outline-secondary, .gt-button-light.gt-button-outline-success, .gt-button-light.gt-button-outline-danger, .gt-button-light.gt-button-outline-warning, .gt-button-light.gt-button-outline-info, .gt-button-light.gt-button-outline-light, .gt-button-light.gt-button-outline-dark { background: transparent; }

.gt-button.gt-button-outline:hover.gt-button[disabled], .gt-button.gt-button-outline:hover.disabled, .gt-button.gt-button-outline-primary:hover.gt-button[disabled], .gt-button.gt-button-outline-primary:hover.disabled, .gt-button.gt-button-outline-secondary:hover.gt-button[disabled], .gt-button.gt-button-outline-secondary:hover.disabled, .gt-button.gt-button-outline-success:hover.gt-button[disabled], .gt-button.gt-button-outline-success:hover.disabled, .gt-button.gt-button-outline-danger:hover.gt-button[disabled], .gt-button.gt-button-outline-danger:hover.disabled, .gt-button.gt-button-outline-warning:hover.gt-button[disabled], .gt-button.gt-button-outline-warning:hover.disabled, .gt-button.gt-button-outline-info:hover.gt-button[disabled], .gt-button.gt-button-outline-info:hover.disabled, .gt-button.gt-button-outline-light:hover.gt-button[disabled], .gt-button.gt-button-outline-light:hover.disabled, .gt-button.gt-button-outline-dark:hover.gt-button[disabled], .gt-button.gt-button-outline-dark:hover.disabled, .gt-button-light.gt-button-outline:hover.gt-button[disabled], .gt-button-light.gt-button-outline:hover.disabled, .gt-button-light.gt-button-outline-primary:hover.gt-button[disabled], .gt-button-light.gt-button-outline-primary:hover.disabled, .gt-button-light.gt-button-outline-secondary:hover.gt-button[disabled], .gt-button-light.gt-button-outline-secondary:hover.disabled, .gt-button-light.gt-button-outline-success:hover.gt-button[disabled], .gt-button-light.gt-button-outline-success:hover.disabled, .gt-button-light.gt-button-outline-danger:hover.gt-button[disabled], .gt-button-light.gt-button-outline-danger:hover.disabled, .gt-button-light.gt-button-outline-warning:hover.gt-button[disabled], .gt-button-light.gt-button-outline-warning:hover.disabled, .gt-button-light.gt-button-outline-info:hover.gt-button[disabled], .gt-button-light.gt-button-outline-info:hover.disabled, .gt-button-light.gt-button-outline-light:hover.gt-button[disabled], .gt-button-light.gt-button-outline-light:hover.disabled, .gt-button-light.gt-button-outline-dark:hover.gt-button[disabled], .gt-button-light.gt-button-outline-dark:hover.disabled { background-color: transparent; }

.gt-button-group { display: inline-block; }

.gt-button-group .gt-button { float: left; }

.gt-button-group .gt-button + .gt-button { border-top-left-radius: 0; border-bottom-left-radius: 0; margin-left: -1px; }

.gt-button-group:before, .gt-button-group:after { display: block; content: " "; clear: both; }

/* Grid */
.gt-row .gt-col, .gt-row .gt-half, .gt-row .gt-third, .gt-row .gt-quarter { float: left; width: 100%; }

.gt-row .gt-sm1 { width: 8.33333%; }

.gt-row .gt-sm2 { width: 16.66666%; }

.gt-row .gt-sm3, .gt-row .gt-quarter { width: 24.99999%; }

.gt-row .gt-sm4, .gt-row .gt-third { width: 33.33333%; }

.gt-row .gt-sm5 { width: 41.66666%; }

.gt-row .gt-sm6, .gt-row .gt-half { width: 49.99999%; }

.gt-row .gt-sm7 { width: 58.33333%; }

.gt-row .gt-sm8 { width: 66.66666%; }

.gt-row .gt-sm9 { width: 74.99999%; }

.gt-row .gt-sm10 { width: 83.33333%; }

.gt-row .gt-sm11 { width: 91.66666%; }

.gt-row .gt-sm12 { width: 99.99999%; }

@media (min-width: 768px) { .gt-row .gt-md1 { width: 8.33333%; }
	.gt-row .gt-md2 { width: 16.66666%; }
	.gt-row .gt-md3, .gt-row .gt-quarter { width: 24.99999%; }
	.gt-row .gt-md4, .gt-row .gt-third { width: 33.33333%; }
	.gt-row .gt-md5 { width: 41.66666%; }
	.gt-row .gt-md6, .gt-row .gt-half { width: 49.99999%; }
	.gt-row .gt-md7 { width: 58.33333%; }
	.gt-row .gt-md8 { width: 66.66666%; }
	.gt-row .gt-md9 { width: 74.99999%; }
	.gt-row .gt-md10 { width: 83.33333%; }
	.gt-row .gt-md11 { width: 91.66666%; }
	.gt-row .gt-md12 { width: 99.99999%; } }

@media (min-width: 1024px) { .gt-row .gt-lg1 { width: 8.33333%; }
	.gt-row .gt-lg2 { width: 16.66666%; }
	.gt-row .gt-lg3, .gt-row .gt-quarter { width: 24.99999%; }
	.gt-row .gt-lg4, .gt-row .gt-third { width: 33.33333%; }
	.gt-row .gt-lg5 { width: 41.66666%; }
	.gt-row .gt-lg6, .gt-row .gt-half { width: 49.99999%; }
	.gt-row .gt-lg7 { width: 58.33333%; }
	.gt-row .gt-lg8 { width: 66.66666%; }
	.gt-row .gt-lg9 { width: 74.99999%; }
	.gt-row .gt-lg10 { width: 83.33333%; }
	.gt-row .gt-lg11 { width: 91.66666%; }
	.gt-row .gt-lg12 { width: 99.99999%; } }

@media (min-width: 1200px) { .gt-row .gt-xl1 { width: 8.33333%; }
	.gt-row .gt-xl2 { width: 16.66666%; }
	.gt-row .gt-xl3, .gt-row .gt-quarter { width: 24.99999%; }
	.gt-row .gt-xl4, .gt-row .gt-third { width: 33.33333%; }
	.gt-row .gt-xl5 { width: 41.66666%; }
	.gt-row .gt-xl6, .gt-row .gt-half { width: 49.99999%; }
	.gt-row .gt-xl7 { width: 58.33333%; }
	.gt-row .gt-xl8 { width: 66.66666%; }
	.gt-row .gt-xl9 { width: 74.99999%; }
	.gt-row .gt-xl10 { width: 83.33333%; }
	.gt-row .gt-xl11 { width: 91.66666%; }
	.gt-row .gt-xl12 { width: 99.99999%; } }

.gt-row:before, .gt-row:after { display: block; content: " "; clear: both; }

/* Modal */
.gt-modal-wrap { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.gt-modal-wrap .gt-modal { position: fixed; top: 0; left: 0; width: 100%; height: 100%; padding-top: 10%; z-index: 1050; overflow: auto; }

.gt-modal-wrap .gt-modal-content { position: relative; margin: auto; background: #fff; width: 90%; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06), 0 4px 15px rgba(0, 0, 0, 0.08); }

.gt-modal-wrap .gt-modal-content .gt-modal-header { padding: 10px 16px; background: #2598e7; color: #fff; }

.gt-modal-wrap .gt-modal-content .gt-modal-body { padding: 30px; max-height: 500px; overflow-y: auto; }

.gt-modal-wrap .gt-modal-content .gt-modal-close { position: absolute; top: 10px; right: 10px; }

@media screen and (min-width: 768px) { .gt-modal-wrap .gt-modal-content { width: 80%; } }

@media screen and (min-width: 1024px) { .gt-modal-wrap .gt-modal-content { width: 70%; } }

@media screen and (min-width: 1200px) { .gt-modal-wrap .gt-modal-content { width: 800px; } }

.gt-modal-wrap .gt-animate-overlay { animation: animatedimmed 0.2s forwards; }

@keyframes animatedimmed { 0% { background: transparent; }
	100% { background: rgba(0, 0, 0, 0.75); } }

.gt-modal-wrap .gt-animate-opacity { animation: animatepopup 0.2s forwards; }

@keyframes animatepopup { 0% { transform: scale(0.94);
		opacity: 0; }
	100% { transform: scale(1);
		opacity: 1; } }

.gt-modal-wrap .gt-animate-top { animation: animatetop 0.3s; }

@keyframes animatetop { from { top: -300px;
		opacity: 0; }
	to { top: 0;
		opacity: 1; } }

.gt-modal-wrap .gt-animate-left { animation: animateleft 0.3s; }

@keyframes animateleft { from { left: -300px;
		opacity: 0; }
	to { left: 0;
		opacity: 1; } }

.gt-modal-wrap .gt-animate-right { animation: animateright 0.3s; }

@keyframes animateright { from { right: -300px;
		opacity: 0; }
	to { right: 0;
		opacity: 1; } }

.gt-modal-wrap .gt-animate-bottom { animation: animatebottom 0.3s; }

@keyframes animatebottom { from { bottom: -300px;
		opacity: 0; }
	to { bottom: 0;
		opacity: 1; } }

.gt-modal-wrap .gt-animate-zoom { animation: animatezoom 0.3s; }

@keyframes animatezoom { from { transform: scale(0); }
	to { transform: scale(1); } }

.gt-modal { display: none; }

.gt-cell-row { display: table; width: 100%; }

.gt-cell-row .gt-cell { display: table-cell; }

.gt-cell-row .gt-cell-top { vertical-align: top; }

.gt-cell-row .gt-cell-middle { vertical-align: middle; }

.gt-cell-row .gt-cell-bottom { vertical-align: bottom; }

/* Display */
.gt-display-container { position: relative; }

.gt-display-topleft { position: absolute; left: 0; top: 0; }

.gt-display-topright { position: absolute; right: 0; top: 0; }

.gt-display-bottomleft { position: absolute; left: 0; bottom: 0; }

.gt-display-bottomright { position: absolute; right: 0; bottom: 0; }

.gt-display-middle { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); }

.gt-display-left { position: absolute; top: 50%; left: 0%; transform: translate(0%, -50%); -ms-transform: translate(0%, -50%); }

.gt-display-right { position: absolute; top: 50%; right: 0%; transform: translate(0%, -50%); -ms-transform: translate(0%, -50%); }

.gt-display-topmiddle { position: absolute; left: 50%; top: 0; transform: translate(-50%, 0%); -ms-transform: translate(-50%, 0%); }

.gt-display-bottommiddle { position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 0%); -ms-transform: translate(-50%, 0%); }

/* Pagination */
.gt-pagination { display: inline-block; }

.gt-pagination .gt-pagination-nav, .gt-pagination .gt-pagination-num { float: left; padding: 8px 16px; color: #808080; text-decoration: none; transition-duration: .1s; }

.gt-pagination .gt-pagination-nav:hover, .gt-pagination .gt-pagination-num:hover { background: #ccc; color: #fff; }

.gt-pagination .gt-pagination-nav.gt-active, .gt-pagination .gt-pagination-num.gt-active { background: #2598e7; color: #fff; pointer-events: none; }

.gt-pagination .gt-pagination-nav.gt-disabled, .gt-pagination .gt-pagination-num.gt-disabled { pointer-events: none; opacity: .5; }

.gt-pagination:before, .gt-pagination:after { display: block; content: " "; clear: both; }

/* Input */
label { display: inline-block; margin-right: 6px; margin-bottom: 6px; }

.gt-input-group { margin-bottom: 1em; }

.gt-input { display: block; width: 100%; padding: 9px 12px; background-color: #fff; border: 1px solid #ddd; }

.gt-input[disabled], .gt-input[readonly], .gt-input.gt-disabled { background-color: #eee; opacity: .5; }

select.gt-input { padding: 8px 12px 9px; }

/* Table */
.gt-table, .gt-table-all { display: table; width: 100%; border-spacing: 0; border-collapse: collapse; }

.gt-table th, .gt-table td, .gt-table-all th, .gt-table-all td { display: table-cell; text-align: left; }

.gt-table th, .gt-table-all th { padding: 8px; }

.gt-table td, .gt-table-all td { padding: 8px; }

.gt-table.gt-table-center tr th, .gt-table.gt-table-center tr td, .gt-table-all.gt-table-center tr th, .gt-table-all.gt-table-center tr td { text-align: center; }

.gt-table.gt-table-border tr, .gt-table-all.gt-table-border tr { border-bottom: 1px solid #ddd; }

.gt-table.gt-table-stripe tbody tr:nth-child(odd), .gt-table-all.gt-table-stripe tbody tr:nth-child(odd) { background-color: #eee; }

.gt-table.gt-table-hoverable tbody tr:hover, .gt-table-all.gt-table-hoverable tbody tr:hover { background-color: #ddd; }

.gt-table-all { border: 1px solid #ddd; }

.gt-table-all tr { border-bottom: 1px solid #ddd; }

.gt-table-all tr:nth-child(odd) { background-color: #fff; }

.gt-table-all tr:nth-child(even) { background-color: #eee; }

/* Panel */
.gt-panel { margin: 0 8px 8px; border: 1px solid #ccc; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }

.gt-panel .gt-panel-header { position: relative; padding: 10px 15px; color: #333; background-color: #eee; overflow: hidden; }

.gt-panel .gt-panel-body { padding: 15px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #fff; }

.gt-panel .gt-panel-body:before, .gt-panel .gt-panel-body:after { display: block; content: " "; clear: both; }

.gt-panel .gt-panel-footer { padding: 10px 15px; background-color: #eee; }

.gt-panel .gt-panel-footer:before, .gt-panel .gt-panel-footer:after { display: block; content: " "; clear: both; }

/* Collapse */
.gt-collapse .gt-collapse-item .gt-collapse-header { display: block; position: relative; cursor: pointer; padding: 1em; }

.gt-collapse .gt-collapse-item .gt-collapse-header .gt-collapse-arrow { display: inline-block; transition-duration: .2s; }

.gt-collapse .gt-collapse-item.gt-active .gt-collapse-header { color: #2598e7; }

.gt-collapse .gt-collapse-item.gt-active .gt-collapse-header .gt-collapse-arrow { transform: rotate(180deg); }

.gt-collapse .gt-collapse-item .gt-collapse-content { padding: 0 2em 1em; display: none; }

/* tab */
.gt-tab .gt-tab-nav .gt-nav-item { float: left; padding: 10px 20px; color: #666; background-color: #eee; }

.gt-tab .gt-tab-nav .gt-nav-item:hover, .gt-tab .gt-tab-nav .gt-nav-item:focus { background-color: #ddd; transition-duration: .3s; }

.gt-tab .gt-tab-nav .gt-nav-item.gt-active { color: #fff; background-color: #2598e7; }

.gt-tab .gt-tab-nav:before, .gt-tab .gt-tab-nav:after { display: block; content: " "; clear: both; }

/* Tooltip */
.gt-tooltip { position: relative; display: inline-block; }

.gt-tooltip .gt-tooltip-content { display: none; opacity: 0; position: absolute; font-size: .8em; padding: 10px; min-width: 300px; background: #808080; color: #fff; border-radius: .4em; text-align: center; user-select: none; cursor: default; }

.gt-tooltip.gt-active .gt-tooltip-content { display: block; opacity: 1; animation: animateTT 0.2s forwards; }

@keyframes animateTT { 0% { opacity: 0; }
	100% { opacity: 1; } }

/* Dropdown */
.gt-dropdown { position: relative; display: inline-block; }

.gt-dropdown .gt-dropdown-menu { display: none; float: left; position: absolute; top: 100%; left: 0; min-width: 160px; padding: 5px 0; margin: 2px 0 0; background-color: #fff; border: 1px solid #ddd; box-shadow: 4px 4px 10px #ccc; z-index: 1000; }

.gt-dropdown .gt-dropdown-menu.gt-dropdown-right { right: 0; left: auto; }

.gt-dropdown .gt-dropdown-menu .gt-dropdown-item { display: block; width: 100%; text-align: left; padding: 4px 20px; }

.gt-dropdown .gt-dropdown-menu .gt-dropdown-item:hover { background-color: #eee; }

.gt-dropdown .gt-dropdown-menu .gt-dropdown-item:focus { color: #fff; background-color: #2598e7; }

.gt-dropdown .gt-dropdown-menu .gt-dropdown-divider { display: block; height: 1px; margin: 9px 0; background-color: #eee; overflow: hidden; }

.gt-dropdown.gt-active .gt-dropdown-menu { display: block; }

.gt-dropdown:before, .gt-dropdown:after { display: block; content: " "; clear: both; }

/* Layer */
.gt-layer { position: relative; display: inline-block; zoom: 1; *display: inline; }

.gt-layer .gt-layer-wrap { z-index: 1030; position: absolute; width: 650px; background: #fff; }

.gt-layer .gt-layer-header { padding: 10px 20px; color: #fff; background: #2598e7; }

.gt-layer .gt-layer-body { padding: 30px; max-height: 450px; border: 1px solid #eee; overflow-y: auto; }

.gt-layer .gt-layer-close { position: absolute; top: 10px; right: 10px; }

.gt-layer .gt-animate-opacity { animation: animatepopup 0.2s forwards; }

@keyframes animatepopup { 0% { transform: scale(0.94);
		opacity: 0; }
	100% { transform: scale(1);
		opacity: 1; } }

.gt-layer .gt-animate-zoom { animation: animatezoom 0.2s; }

@keyframes animatezoom { from { transform: scale(0); }
	to { transform: scale(1); } }

/* note */
.gt-note { padding: 16px; margin-bottom: 10px; border: 1px solid #d9d9d9; background: #e6e6e6; }

.gt-note.gt-note-primary { border-color: #98cef4; background: #afd9f6; }

.gt-note.gt-note-secondary { border-color: #d9d9d9; background: #e6e6e6; }

.gt-note.gt-note-success { border-color: #b8e349; background: #d2ed8b; }

.gt-note.gt-note-info { border-color: #00e3cd; background: #30ffec; }

.gt-note.gt-note-warning { border-color: #ffca47; background: #ffe093; }

.gt-note.gt-note-danger { border-color: #f5a585; background: #f7b79c; }

/* scrollprogress */
.gt-scrollprogress { position: fixed; top: 0; left: 0; width: 0; height: 5px; background-color: #2598e7; overflow: hidden; transition: width .4s ease-out; transform: rotateZ(0deg); }

/* Progress */
.gt-progress { background: #eee; box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1); }

.gt-progress .gt-progress-bar { padding: 2px 0; background: #2598e7; color: #fff; text-align: center; transition-duration: .4s; min-height: 16px; font-size: .8em; }

/* toast */
.gt-toast-container { position: fixed; z-index: 1030; opacity: 0; user-select: none; transition-duration: .2s; }

.gt-toast-container[data-direction="right-top"] { top: 12px; right: 12px; }

.gt-toast-container[data-direction="left-top"] { top: 12px; left: 12px; }

.gt-toast-container[data-direction="right-bottom"] { right: 12px; bottom: 12px; }

.gt-toast-container[data-direction="left-bottom"] { left: 12px; bottom: 12px; }

.gt-toast-container[data-direction="center-top"] { left: 50%; top: 12px; transform: translate(-50%, 0); }

.gt-toast-container[data-direction="center-bottom"] { left: 50%; bottom: 12px; transform: translate(-50%, 0); }

.gt-toast-container .gt-toast { position: relative; pointer-events: auto; overflow: hidden; padding: 10px; width: 300px; font-size: 0.8em; color: #fff; background-color: #666; box-shadow: 2px 2px 10px #ccc; cursor: pointer; }

.gt-toast-container .gt-toast.gt-toast-primary { background-color: #2598e7; }

.gt-toast-container .gt-toast.gt-toast-success { background-color: #94c11e; }

.gt-toast-container .gt-toast.gt-toast-info { background-color: #009688; }

.gt-toast-container .gt-toast.gt-toast-warning { background-color: #f9b200; }

.gt-toast-container .gt-toast.gt-toast-danger { background-color: #e75113; }

/* Helper */
.gt-skip-navigation .gt-skip-link { position: absolute; top: -10000px; left: 0; z-index: 10000; background: #333; text-align: center; color: #fff; padding: 10px; font-size: 12px; }

.gt-skip-navigation .gt-skip-link:focus { top: 0; }

.gt-screen-out { overflow: hidden; position: absolute; width: 0; height: 0; line-height: 0; text-indent: -9999px; }

.gt-float-left { float: left !important; }

.gt-float-right { float: right !important; }

.gt-float-none { float: none !important; }

.gt-relative { position: relative; }

.gt-absolute { position: absolute; }

.gt-fixed-top { position: fixed; top: 0; right: 0; left: 0; z-index: 1030; }

.gt-fixed-bottom { position: fixed; right: 0; bottom: 0; left: 0; z-index: 1030; }

.gt-align-left { text-align: left !important; }

.gt-align-right { text-align: right !important; }

.gt-justify { text-align: justify !important; }

.gt-center { text-align: center !important; }

.gt-bold { font-weight: bold !important; }

.gt-vertical-top { vertical-align: top !important; }

.gt-vertical-middle { vertical-align: middle !important; }

.gt-vertical-bottom { vertical-align: bottom !important; }

.gt-block { display: block !important; }

.gt-inline { display: inline !important; }

.gt-inline-block { display: inline-block !important; }

.gt-hide { display: none; }

.gt-tiny { font-size: 12px; }

.gt-small { font-size: 14px; }

.gt-medium { font-size: 16px; }

.gt-large { font-size: 24px; }

.gt-xlarge { font-size: 32px; }

.gt-xxlarge { font-size: 40px; }

.gt-xxxlarge { font-size: 40px; }

.gt-huge { font-size: 64px; }

.gt-border-none, .gt-border-0 { border: 0 !important; }

.gt-border-top-none, .gt-border-top-0 { border-top: 0 !important; }

.gt-border-bottom-none, .gt-border-bottom-0 { border-bottom: 0 !important; }

.gt-border-right-none, .gt-border-right-0 { border-right: 0 !important; }

.gt-border-left-none, .gt-border-left-0 { border-left: 0 !important; }

.gt-border { border: 1px solid; border-color: #ccc; }

.gt-border-top { border-top: 1px solid; border-color: #ccc; }

.gt-border-bottom { border-bottom: 1px solid; border-color: #ccc; }

.gt-border-left { border-left: 1px solid; border-color: #ccc; }

.gt-border-right { border-right: 1px solid; border-color: #ccc; }

.gt-round-none, .gt-round-0 { border-radius: 0 !important; }

.gt-round-small { border-radius: 2px !important; }

.gt-round, .gt-round-medium { border-radius: 4px !important; }

.gt-round-large { border-radius: 8px !important; }

.gt-round-xlarge { border-radius: 16px !important; }

.gt-round-xxlarge { border-radius: 32px !important; }

.gt-circle { border-radius: 50% !important; }

.gt-padding-small { padding: 4px 8px !important; }

.gt-padding, .gt-padding-medium { padding: 8px 16px !important; }

.gt-padding-large { padding: 12px 24px !important; }

.gt-padding-xlarge { padding: 16px 32px !important; }

.gt-padding-xxlarge { padding: 20px 36px !important; }

.gt-padding-none, .gt-padding-0 { padding: 0 !important; }

.gt-padding-left-none, .gt-padding-left-0 { padding-left: 0 !important; }

.gt-padding-right-none, .gt-padding-right-0 { padding-right: 0 !important; }

.gt-padding-top-none, .gt-padding-top-0 { padding-top: 0 !important; }

.gt-padding-bottom-none, .gt-padding-bottom-0 { padding-bottom: 0 !important; }

.gt-margin { margin: 16px !important; }

.gt-margin-top { margin-top: 16px !important; }

.gt-margin-bottom { margin-bottom: 16px !important; }

.gt-margin-left { margin-left: 16px !important; }

.gt-margin-right { margin-right: 16px !important; }

.gt-margin-none, .gt-margin-0 { margin: 0 !important; }

.gt-margin-left-none, .gt-margin-left-0 { margin-left: 0 !important; }

.gt-margin-right-none, .gt-margin-right-0 { margin-right: 0 !important; }

.gt-margin-top-none, .gt-margin-top-0 { margin-top: 0 !important; }

.gt-margin-bottom-none, .gt-margin-bottom-0 { margin-bottom: 0 !important; }

.gt-clear:before, .gt-clear:after { display: block; content: " "; clear: both; }

.gt-image { max-width: 100% !important; }

.gt-rest { overflow: hidden !important; }